{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Buy {{ items.name }}</title>
<script src="https://js.stripe.com/v3/"></script>
{% endblock title %}
{% block content %}
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">{{ items.name }}</h1>
      <p class="lead text-muted">{{ items.description }}</p>
      <p>{{ items.price }}$</p>
      <form action="{% url 'mainapp:buy' pk=items.pk %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-primary my-2" id="checkout-button">Checkout</button>
      </form>
    </div>
  </div>
</section>
{% endblock content %}