{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Buy cool new product</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    
    <section>
      <div class="container">
      
      <div class="product">
        <div class="description">
          <h3>{{ items.name }}</h3>
          <h5>{{ items.description }}</h5>
          <h5>{{ items.price }}</h5>
        </div>
      </div>
      
    </div>
      <form action="{% url 'mainapp:buy' pk=items.pk %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit" id="checkout-button">Checkout</button>
      </form>
    </section>
    
  </body>
</html>